.profile {
    color: rgb(128, 128, 128);
    font-size: 20px;
}

.avatar {
    width: 128px;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.stats {
    font-size: 16px;
    list-style: none;
    color: rgb(29, 141, 29);
}
